.icon-equis {
    padding-top: 5px!important;
  display: inline-block!important;
  width: 20px;              /* ajusta según el tamaño del SVG */
  height: 20px;
  background-image: url("../fonts/svgs/brands/x-twitter.svg");
  background-repeat: no-repeat!important;
  background-size: contain!important;
  background-position: center!important;
  color: rebeccapurple!important;

}