.cd-h-timeline__event-title{
  /*font-family: 'Montez', sans-serif!important;*/
  font-size: 1.5em!important;
}
.cd-h-timeline__event-date{
  font-family: "Nunito sans", sans-serif;
  font-weight: 300;
}
/*#1C8F9B*/
